In [7]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\kvssr\anaconda3\envs\fe-course\lib\site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in c:\users\kvssr\anaconda3\envs\fe-course\lib\site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.8.0 in c:\users\kvssr\anaconda3\envs\fe-course\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\kvssr\anaconda3\envs\fe-course\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kvssr\anaconda3\envs\fe-course\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import sys
import os
import pandas as pd
from dotenv import load_dotenv
sys.path.append(os.path.abspath("../")) 
from src.cleaning import fill_missing_median, drop_missing, normalize_data

# Load .env for folder paths
load_dotenv()
RAW = os.getenv("DATA_DIR_RAW", "../data/raw")
PROC = os.getenv("DATA_DIR_PROCESSED", "../data/processed")
# Load dataset
file_path = os.path.join(RAW, "sample_data.csv")
df_orig = pd.read_csv(file_path, parse_dates=True)

print("Original Data:")
display(df_orig.head())

Original Data:

    age   income  score  zipcode      city  extra_data
0  34.0  55000.0   0.82    90210   Beverly         NaN
1  45.0      NaN   0.91    10001  New York        42.0
2  29.0  42000.0    NaN    60614   Chicago         NaN
3  50.0  58000.0   0.76    94103        SF         NaN
4  38.0      NaN   0.88    73301    Austin         NaN

In [31]:
df_filled = fill_missing_median(df_orig)

# Drop any remaining rows with missing values (optional)
df_dropped = drop_missing(df_filled)

# Normalize numeric columns
df_cleaned = normalize_data(df_dropped)

print("Cleaned Data:")
display(df_cleaned.head())
df_cleaned.to_csv(f'{PROC}/sample_data_cleaned.csv', index=False)

Cleaned Data:

C:\Users\kvssr\bootcamp_rohit_kakumani\homework\homework6\src\cleaning.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\kvssr\bootcamp_rohit_kakumani\homework\homework6\src\cleaning.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\kvssr\bootcamp_rohit_kakumani\homework\homework6\src\cleaning.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\kvssr\bootcamp_rohit_kakumani\homework\homework6\src\cleaning.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)
C:\Users\kvssr\bootcamp_rohit_kakumani\homework\homework6\src\cleaning.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_val, inplace=True)

        age  income     score   zipcode      city  extra_data
0  0.238095  0.8125  0.653846  0.953688   Beverly         0.5
1  0.761905  0.6250  1.000000  0.000000  New York         1.0
2  0.000000  0.0000  0.596154  0.601791   Chicago         0.5
3  1.000000  1.0000  0.423077  0.999976        SF         0.5
4  0.428571  0.6250  0.884615  0.752640    Austin         0.5